<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/style/styles.css">
  <title>jobe's per site</title>
</head>

<body>
  <img src="static/PERFO.jpg" alt="a picture of a bush">
  <h1>jope's bopery</h1>
  <p>greetings, <em>earthing</em></p>
  <p>lil jobe goes by jope on the court</p>
  <hr>
  <h3>oh you talkinto me?</h3>
  <p>we talkin:</p>
  <ol>
    <li>pratt</li>
    <li>seattle centra</li>
    <li>western (ill-fated)</li>
  </ol>
  <p>you wanna talk <a href="hobbies.html">hobbies?</a></p>
  <p>
    get in absolute <a href="gittact.html">touch</a> you creep
  </p>

  <table>
    <thead>
      <th colspan="2">hark, a table</th>
    </thead>
    <thead>
      <th>progrum</th>
      <th>aptitude</th>
    </thead>

    <tr>
      <td>Python </td>
      <td> 🌸🌸🌸🌸💮</td>
    </tr>
    <tr>
      <td>Java </td>
      <td> 🌸🌸💮💮💮</td>
    </tr>
    <tr>
      <td>HTML </td>
      <td> 🌸🌸🌸🌸💮</td>
    </tr>
    <tr>
      <td>CSS </td>
      <td> 🌸🌸🌸💮💮</td>
    </tr>
    <tr>
      <td>Javascript </td>
      <td> 🌸🌸🌸💮💮</td>
    </tr>

  </table>



</body>

</html>
